.c-dark-theme .custom-select option {
    color: black;
}
.uk-tab > li.uk-active > a {
    color: white;
}
.uk-modal {
	z-index: 1040;
}
.c-dark-theme .form-control-dark {
    background: #595959 !important;
    color: white;
}
.c-dark-theme .iti__country-list {
    background: black;
}
.c-dark-theme .iti__country-list > li:hover {
    background: #606060;
}
.c-dark-theme .c-sidebar .c-sidebar-nav-title {
    color: rgba(255, 255, 255, 0.9) !important;
}
.c-dark-theme a {
    color: #4fd213;
}
.c-dark-theme a:hover {
    color: #5ed926;
}
.c-dark-theme .btn.btn-ghost-dark.btn-block.light {
    color: white;
}
dl.light {
    color: #464646;
}
.c-dark-theme h1 {
    color: white;
}
.c-dark-theme .select2-selection.select2-selection--multiple {
	background-color: rgba(255, 255, 255, 0.1);
}
.c-dark-theme .select2-results__options {
	background-color: rgb(53, 52, 52);
}
.c-dark-theme .select2-container--default .select2-results__option[aria-selected="true"] {
	background-color: #6f6e6e !important;
}
.c-dark-theme .select2-selection__choice {
	color: #1e1e1e;
}

html:not([dir="rtl"]) .custom-select-sm {
    padding-right: 1rem;
}
.c-main {
	padding-top: 1rem;
}
.uk-description-list > dt {
    color: #888;
}
.dropdown-menu.show {
	z-index: 3333;
	padding: 10px;
}
.dropdown-menu.dropdown-menu-right {
	transform: translate(8px, 32px) !important;
	padding: 4px;
}
.dropdown-menu.dropdown-menu-right {
	transform: translate(8px, 32px) !important;
	padding: 4px 4px 1px 4px;
}
.dropdown-menu.dropdown-menu-right .dropdown-item{
	margin-bottom: 3px;
}
.dropdown-item span {
	margin-left: 10px;
}
.btn.btn-table-action.dropdown-toggle {
	font-size: 15px;
	padding-top: 0;
}
.c-dark-theme .btn.btn-table-action.dropdown-toggle{
	color: white;	
}
.c-sidebar .c-sidebar-nav-title {
	color: rgba(255, 255, 255, 0.8);
}
.c-sidebar-nav-dropdown-toggle {
	padding: 0.75rem 1rem;
	margin-top: 1rem;
	font-size: 80%;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.3s;
}
.card-body {
	padding: 1rem;
}
.c-dark-theme .card-title, .c-dark-theme .card-header h3,  .c-dark-theme h2, .c-dark-theme h3, .c-dark-theme h4 {
	color: #f9f9f9;
}
.c-dark-theme .uk-form-label {
	color: #e1e1e1;
}
.c-dark-theme option {
	background: #5b5b5b;
	color: white;
}